@font-face {
  font-family: "Newsreader Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  src: url("../assets/vendor/fonts/newsreader/5.3.0/newsreader-latin-wght-normal.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Newsreader Variable";
  font-style: italic;
  font-display: swap;
  font-weight: 200 800;
  src: url("../assets/vendor/fonts/newsreader/5.3.0/newsreader-latin-wght-italic.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Space Grotesk Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 300 700;
  src: url("../assets/vendor/fonts/space-grotesk/5.3.0/space-grotesk-latin-wght-normal.woff2") format("woff2-variations");
}

@font-face {
  font-family: "JetBrains Mono Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 800;
  src: url("../assets/vendor/fonts/jetbrains-mono/5.3.0/jetbrains-mono-latin-wght-normal.woff2") format("woff2-variations");
}

@font-face {
  font-family: "JetBrains Mono Variable";
  font-style: italic;
  font-display: swap;
  font-weight: 100 800;
  src: url("../assets/vendor/fonts/jetbrains-mono/5.3.0/jetbrains-mono-latin-wght-italic.woff2") format("woff2-variations");
}
